@import "tailwindcss";



body{
    background-color: #FFFFFF;
}
:root {
  --toastify-color-success: #1fb834;
  --toastify-color-error: #f44336;
  --toastify-color-progress-success: #4caf50;
  --toastify-toast-width: 400px;
  --toastify-toast-bd-radius: 8px;
}